# Base de Datos PostgreSQL
POSTGRES_DB=hospital_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=
DB_HOST=db
DB_PORT=5432

# Caché Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Configuración General
SECRET_KEY=tu_secret_key_aqui
DEBUG=True

